<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">

</head>
<body >
    <%- include('partials/nav')  %>

    <div class="main min-h-screen w-full bg-cyan-200 flex flex-col  items-center">

        <h1 class="text-5xl text-black font-nunito font-bold mt-5">Welcome Pavan 👋</h1>

        <!-- input form -->
        <div class="form p-10 text-wrap w-3/4 ">
            <form action="/create" method="post" > 
                <input class="block w-full bg-zinc-600 rounded-md h-10 mt-5 px-5 text-white" type="text" name="title" placeholder="Title goes here..." required>
                <textarea class="block w-full bg-zinc-600 rounded-md h-28 mt-5 px-5 pt-3 text-white resize-none" name="story" placeholder="Story goes here..." required></textarea>
                <input class=" bg-cyan-700 text-white w-32 h-10 mt-3 px-5 rounded-md text-xl" type="submit" value="Post">
            </form>

        </div>


        <!-- display cards flex gap  -->
        <div class="tasks px-24 py-10 flex gap-4 flex-wrap text-white" >

            <div class="task px-7 w-72 h-36 bg-zinc-600 p-3 rounded-md">
                <h1 class="font-bold text-3xl mt-2 font-nunito"> Title %> </h1>
                <a class="inline-block mt-8 text-cyan-100 " href="/posts"> Read More...</a>
            </div>
            <div class="task px-7 w-72 h-36 bg-zinc-600 p-3 rounded-md">
                <h1 class="font-bold text-3xl mt-2 font-nunito"> Title %> </h1>
                <a class="inline-block mt-8 text-blue-200 " href="/posts"> Read More...</a>
            </div>
        
            <div class="task px-7 w-72 h-36 bg-zinc-600 p-3 rounded-md">
                <h1 class="font-bold text-3xl mt-2 font-nunito"> Title %> </h1>
                <a class="inline-block mt-8 text-blue-200 " href="/posts"> Read More...</a>
            </div>


        </div>
    </div>


   
</body>
</html>